.page-body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-body__header {
  padding-top: 46px;
}

.page-body__footer {
  margin-top: 140px;
}
