.text {
margin: 18px 0;

  font-family: Poppins;
  font-weight: normal;
  font-size: 18px;
  line-height: 30.6px;
}
.text--color-orange {
  color: var(--orange);
}

.text--color-dark-green {
  color: var(--dark-green);
}

.text--color-light-green {
  color: var(--dark-green);
  opacity: 65%;
}
