.menu {
  padding: 0;
  margin: 0;
  width: 266px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
  font-family: Poppins;
  font-weight: normal;
  line-height: 21.09px;
  font-size: 18px;
  position: relative;

  z-index: 1;
}

.menu::before {
  content: "";
  width: 646px;
  height: 1070px;

  position: absolute;
  top: -46px;
  left: -5px;

  background-color: var(--lite-orange);

  z-index: -1;
}
