.menu-nav {
  padding: 0;
  padding: 0 130px;
  margin: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
  color: var(--dark-green);
  font-family: Poppins;
  font-weight: normal;
  line-height: 21.09px;
  font-size: 18px;
}

.menu-nav__item {
  padding-left: 46px;
}
