.customer {
  width: 826px;
  height: 368px;

  display: grid;
  grid-template-columns: 61px 1fr 61px;

  text-align: center;
  align-items: center;

  position: relative;
}

.customer__decorate-square {
  box-shadow: 0px 17px 121px rgba(0, 0, 0, 0.06),
    0px 2.12866px 15.1511px rgba(0, 0, 0, 0.03);
  border-radius: 64px;

  position: absolute;
}

.customer__decorate-square--size-l {
  width: 100%;
  height: 100%;

  background: var(--white);
  z-index: -1;
}

.customer__decorate-square--size-m {
  width: 704px;
  height: 314px;

  position: absolute;
  top: 80px;
  left: 60px;
  z-index: -2;

  background: var(--white);
}

.customer__decorate-square--size-s {
  width: 584px;
  height: 260px;

  position: absolute;
  top: 153px;
  left: 121px;
  z-index: -3;

  background: var(--white);
}

.customer__button {
  width: 61px;
  height: 61px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--lite-orange);
  border-radius: 50%;
}

.customer__button--status-disable {
  background-color: var(--white);
  border: solid 1px var(--lite-orange);
}

.cuctomer__button-img {
  width: 10.5px;
  height: 17px;
}

.customer__button-left {
  grid-column: 1/2;
  position: absolute;
  left: -30px;
}

.customer__button-right {
  grid-column: 3/4;
  position: absolute;
  right: -30px;
}

.customer__center {
  grid-column: 2/3;
}
